<section class="banner">
  <div class="headline">
    <h3>Portfolio by</h3>
    <h1>Joana Sanson Arêas</h1>
    <h2>Web Developer</h2>
  </div>
</section>

<section class="about-section">
  <div class="about-text">
    <h3>About me</h3>
    <p> Innovative thinker with a questioning mindset and strong interpersonal skills.
      I found in programming a way to pursue my passion for logic and problem solving, so I decided to change my career and became a developer.
      I'm looking for a job where I can have personal and professional growth, enhancing my programming skills and learning from great mentors.
      Equality and transparency are values that speak highly to me.
    </p>
  </div>
</section>

<section class="projects-section">
  <h3>My latest projects:</h3>
</section>
