#about-section{
  background: linear-gradient(black, rgba(3,3,15,0.9));
  margin-top: 12vh;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .about-text{
    color: white;
    // margin: 5vh 0 20vh;
    margin-bottom: 20vh;
    width: 70%;
  }
  .description{
    margin-right: 0;
    border: 2px solid white;
    padding: 20px;
    text-align: justify;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
  }
  p{
    line-height: 130%;
  }
}

//effect foggy between banner picture and next section
#about-section:before{
  content: '';
  position: absolute;
  bottom: -12vh;
  left: 0;
  width: 100%;
  height: 24vh;
  z-index: 1;
  background-image: linear-gradient(transparent, black);
}

.profilepic{
  width: 38vh;
  height: 38vh; // 350px before
  border-radius: 50%;
  align-self: center;
  margin-top: 5vh;
  margin-bottom: 0;
  background-image: url(profile);
  background-size: 115%;
  background-position: center;
}

@media (max-width: 414px){
  .profilepic{
    width: 35vh;
    height: 35vh;
  }
  #about-section .about-text{
    width: 85%;
    font-size: smaller;
  }
  p{
    letter-spacing: normal;
    margin-top: 3px;
  }
}
