.footer {
  bottom: 0;
  width: 100%;
  height: 30vh;
  background: linear-gradient(to bottom, black, black);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 2px solid white; */
}
