.cards{
  margin-top: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  position: relative;
  margin: 6vh;
  width: 330px;
  height: 460px;
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px); //mudar para card 1 e 2
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  .project-img{
    height: 60%;
    width: 100%;
    // background-image: url(coverKaruna);
    // background-size: cover;
  }
  .content{
    height: 40%;
    width: 100%;
    // transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.project-name{
  font-family: 'Island Moments', cursive;
  font-size: 3.3em;
  color: rgba(255, 255, 255, 0.7);
  // text-shadow: 1px 1px 1px rgba(93, 127, 178, 0.738);
  margin: 0 0 5%;
}
.iconK{
  width: 60px;
  height: 60px;
  opacity: 0.3;
}
.iconGW{
  width: 70px;
  height: 70px;
  opacity: 0.5;
}


.card{
  .karuna{
    padding: 5px;
    height: 100%;
    width: 97%;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0.7;
  }
  .greenwheeler{
    padding: 5px;
    height: 100%;
    width: 97%;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0.7;
  }
}
