@import "banner";
@import "about";
@import "projects";
@import "footer";



body{
  background-color: #010101;
}
h3{
  font-size: 3em;
  font-family: 'Island Moments', cursive;
  margin-bottom: 0;
  color: white;
}
