@import "banner";
@import "about";
@import "projects";
@import "project_cards";
@import "footer";
@import "menu";


body{
  background-color: #010101;
  color: white;
  margin: 0;
}
h3{
  font-size: 3em;
  font-family: 'Island Moments', cursive;
  margin-bottom: 0;
  color: white;
}
a{
  text-decoration: none;
}
